 .App {
  --main-bg-bt-color: rgb(3, 208, 182);
  --main-tx-bt-color:white; 
  --main-bg-color: rgba(242, 242, 242, 0.918);
  --second-bg-color: white;
  --active-bg-color: rgb(3, 208, 182);
  --second-bg-bt-color: #f9a139;

 } 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-color {
  background-color:var(--main-bg-bt-color);
  color:var(--main-tx-bt-color);
}

.btn-color:hover {
  background-color:var(--main-bg-bt-color);
  color:var(--main-tx-bt-color);
}

.btn-outline-color {
  border-color: var(--main-bg-bt-color);
  color:var(--main-tx-bt-color);
}
.btn-outline-color:hover {
  background-color:var(--main-bg-bt-color);
  color:var(--main-tx-bt-color);
}
.paragraph {
  margin-bottom: 0px;
}

.parag-tx-color {
  color:var(--main-tx-bt-color);
}

.list-items {

  margin-bottom: 1rem;
  margin-top: 1rem;
}

.list-items li {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.total-order {
  padding-top: 1rem;
}